<div class="main row">
  <% @posts.each do |post| %>
    <div class="content-post">
      <p class="head-post"><%= link_to post.title, post_path(post.id), method: :get, class:"content-title" %></p>
      <span class="foot-post country">in <%= post.country.name %></span>
      <%# <span class="foot-post nickname">by <%= post.nickname %>
      <%# </span> %>
      <i class="fas fa-angle-down fa-lg pull-down">
        <%= link_to '編集', edit_post_path(post.id), method: :get, class:"pull-down-list" %>
        <%= link_to '削除', post_path(post.id), method: :delete, class:"pull-down-list" %>
      </i>
    </div>
  <% end %>
</div>