<!DOCTYPE html>
<html>
  <head>
    <title>NationNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-bar">
        <div class="header-logo">
          <%= link_to image_tag("nationnote-logo.png", class:"nationnote-icon"), "/" %>
        </div>
        <% if user_signed_in? %>
          <div class="header-nav">
            <%= link_to "投稿する", new_post_path, class:"btn new-post-btn user-nav" %>
            <%= link_to current_user.nickname, "/users/#{current_user.id}", class:"btn user-btn user-nav" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn user-btn user-nav" %>
          </div>
        <% else %>
          <div class="header-nav">
            <%= link_to "新規登録", new_user_registration_path, class:"btn user-btn user-nav" %>
            <%= link_to "ログイン", new_user_session_path, class:"btn user-btn user-nav" %>
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:"btn user-btn user-nav"%>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p>Copyright(C) NationNote ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
